<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <meta name="description" content="Users">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'loginApp/css/style.css' %}">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-light myNav">
            <h1 class="myNavText">Home</h1>
        </nav>
        <p>SUCCESS! Welcome {{ thisUser.firstName }} </p>
        <form class="line" action="/logout" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </div>
</body>

</html>