<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="UTF-8">
    <title>View</title>
    <meta name="description" content="Users">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'beltApp/css/style.css' %}">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-light myNav">
            <h1 class="myNavText">Create New Job</h1>
            <form class="form-inline" id="myNavButton" action="/belt" method="get">
                <button class="btn btn-outline-success my-2 my-sm-0" id="myNavButton" type="submit">Home</button>
            </form>
            <form class="form-inline" id="myNavButton" action="/logout" method="get">
                <button class="btn btn-outline-success my-2 my-sm-0" id="myNavButton" type="submit">Logout</button>
            </form> 
        </nav>
        <ul class="list-group myList">
            <li class="list-group-item">Title: {{ thisJob.title }}</li>
            <li class="list-group-item">Description: {{ thisJob.decription }}</li>
            <li class="list-group-item">Location: {{ thisJob.location }}</li>
            <li class="list-group-item">Posted By: {{ thisJob.poster.firstName }}</li>
            <li class="list-group-item">Posted At: {{ thisJob.created_at }}</li>
            <li class="list-group-item">Catergories: {{ thisJob.catergories }}</li>
        </ul>
        {% if thisJob.volunteer == None %}
        <form class='action' action="/belt/job/add" method='post'>
            {% csrf_token %}
            <input type="hidden" name="whichJob" value={{thisJob.id}}>
            <button type="submit" class="btn btn-primary">Add to My Jobs</button>
        </form>
        {% elif thisJob.volunteer.id == request.session.thisUserID %}
        <form class='action' action="/belt/job/giveup" method='post'>
            {% csrf_token %}
            <input type="hidden" name="whichJob" value={{thisJob.id}}>
            <button type="submit" class="btn btn-primary">Give Up</button>
        </form>
        <form class='action' action="/belt/job/done" method='post'>
            {% csrf_token %}
            <input type="hidden" name="whichJob" value={{thisJob.id}}>
            <button type="submit" class="btn btn-primary">Mark as Done</button>
        </form>
        {% endif %}
    </div>
</body>

</html>